<app-header titulo="Progress Bar"></app-header>

<ion-content class="ion-padding">

  <ion-progress-bar type="determinate" [value]="porcentaje" color="primary"></ion-progress-bar>

  <ion-list>
    <ion-item lines="none">
      <ion-range
      min="0" max="100"
      snaps="true"
      ticks="true"
      step="10"
      color="primary"
      (ionChange)="rangeChange($event)">
      <ion-label slot="start" color="primary">0%</ion-label>
      <ion-label slot="end" color="primary">100%</ion-label>
      </ion-range>
    </ion-item>
  </ion-list>

</ion-content>
