<app-header titulo="grid"></app-header>

<ion-content fullscreen>
  <ion-grid fixed>
    <ion-row>
      <ion-col
      size="12" size-sm="4" size-md="4" size-lg="3"
       *ngFor="let item of [1,1,1,1,1,1,1,1,1,1,1,1]">
        <ion-card>
          <ion-img src="/assets/stan-lee.jpeg"></ion-img>
        </ion-card>
        <ion-card-header>
          <ion-card-subtitle>Awesome Subtitle</ion-card-subtitle>
          <ion-card-title>Awesome Title</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Commodi officia a porro quisquam praesentium expedita unde
          laboriosam illum soluta, explicabo ut, maiores suscipit ducimus mollitia consectetur, aspernatur rerum molestias
          reprehenderit?
        </ion-card-content>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
