<ion-header>
  <ion-toolbar>
    <ion-title>Componentes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <ion-button
  routerLink="/alert">
    Alert
  </ion-button>
  <ion-button
  routerLink="/action-sheet">
    Action Sheet
  </ion-button> -->

  <ion-list class="ion-padding">
    <ion-item
    *ngFor="let componente of componentes"
    [routerLink]="componente.redirectTo"
    detail>
      <ion-icon slot="start" [name]="componente.icon" color="primary"></ion-icon>
      <ion-label>{{ componente.name }}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
